<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Zootopia</title>
    </head>
    <body>
        <h1>My Animal Repository</h1>
        <form method="get">
            <div class="filter-container">
                <label class="filter__label" for="animal-filter">Filter by skin type: </label>
                <select name="filter" id="animal-filter" onchange="this.form.submit()">
                    <option value="">--Choose skin type--</option>
                    <option value="Hair">Hair</option>
                    <option value="Fur">Fur</option>
                    <option value="Scales">Scales</option>
                </select>
            </div>
        </form>

        <ul class="cards">
            __REPLACE_ANIMALS_INFO__
        </ul>
    </body>
</html>